<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/Navbar.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <nav>
            <input type="checkbox" name="" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <label class="logo">Tech</label>
            <ul>
                <li><a class="active" href="./clinical-research-course.html">Home</a></li>
                <li><a href="./clinical-research-course.html#about">About</a></li>
                <li><a href="./clinical-research-course.html#service">Services</a></li>
                <li><a href="./contact.html">Contact</a></li>
                <li><a href="#Feadback">Feadback</a></li>
            </ul>
        </nav>
</header>
    <section id="contact">
        <div class="contact-div">
            <form action="" class="contact-form">
                <div class="contact-h"><h4 class="contact-h4">Contact Us</h4></div>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" placeholder="Enter your name">
                <label for="email">Email</label>
                <input type="email" name="name" id="email" placeholder="Enter your Email">
                <label for="number">Phone</label>
                <input type="number" name="number" id="number" placeholder="Enter your number">
                <label for="state">State</label>
                <select name="state" id="state">
                    <option value="1">Maharashtra</option>
                    <option value="2">Bihar</option>
                    <option value="3">UP</option>
                </select>
                <label for="course">Course</label>
                <select name="course" id="course">
                    <option value="1">full Stack Seveloper</option>
                    <option value="2">Clinic Research Course</option>
                    <option value="3">Medical Coding Course</option>
                    <option value="4">Software Testing Course</option>
                    <option value="5">Software Developer Course</option>
                </select>
    
                <label for="msg">Message</label>
                <input type="text" name="msg" id="msg" placeholder="Enter your message">
                <div class="contact-div-btn">
                    <button class="contact-btn">Send Us</button>
                </div>
            </form>
        </div>
     </section>


     <footer>
        <div class="footer-container">
            <div class="footer-box">
                <h4 class="footer-h">Address - Hinjawadi</h4>
                <p class="footer-p">TechnoBridge Systems Pvt Ltd 423, Suratwala Mark Plazzo, Wing B, Hinjawadi - Wakad Road, Hinjawadi Village, Hinjawadi, Pune, Maharashtra 411057.</p>
                <p class="footer-p">7879978978</p>
                <p class="footer-p">ahmad@gmail.com</p>
            </div>
            <div class="footer-box">
                <h4 class="footer-h">Address - Hinjawadi</h4>
                <p class="footer-p">TechnoBridge Systems Pvt Ltd 423, Suratwala Mark Plazzo, Wing B, Hinjawadi - Wakad Road, Hinjawadi Village, Hinjawadi, Pune, Maharashtra 411057.</p>
                <p class="footer-p">7879978978</p>
                <p class="footer-p">ahmad@gmail.com</p>
            </div>
            <div class="footer-box">
                <h4 class="footer-h">Address - Hinjawadi</h4>
                <p class="footer-p">TechnoBridge Systems Pvt Ltd 423, Suratwala Mark Plazzo, Wing B, Hinjawadi - Wakad Road, Hinjawadi Village, Hinjawadi, Pune, Maharashtra 411057.</p>
                <p class="footer-p">7879978978</p>
                <p class="footer-p">ahmad@gmail.com</p>
            </div>
            <div class="footer-box">
                <h4 class="footer-h">Address - Hinjawadi</h4>
                <p class="footer-p">TechnoBridge Systems Pvt Ltd 423, Suratwala Mark Plazzo, Wing B, Hinjawadi - Wakad Road, Hinjawadi Village, Hinjawadi, Pune, Maharashtra 411057.</p>
                <p class="footer-p">7879978978</p>
                <p class="footer-p">ahmad@gmail.com</p>
            </div>
            
        </div>
     </footer>
</body>
</html>