<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinic web</title>
    <link rel="stylesheet" href="../CSS/Navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
</head>
<body>
    <header class="header">
        <nav>
            <input type="checkbox" name="" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <label class="logo">Technobride</label>
            <ul>
                <li><a class="active" href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#service">Services</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#Feadback">Feadback</a></li>
            </ul>
        </nav>
</header>

<section id="hero-section">
        <div class="hero-div">
            <h4 class="hero-h">Course in Software Testing</h4>
            <p class="hero-p">Best Clinical Research Training Institute in Pune, India</p>
            <button class="hero-btn">call us</button>
        </div>
</section>

<section id="about">
   <div class="about-div">
        <h1 class="about-h1">Trending Courses</h1>
        <p class="about-p">Learn The Best And Most In-Demand Courses From TechnoBridge.</p>
        <div class="about-container">
            <div class="about-box">
                <h4 class="about-h4">Medical Writting Course</h4>
                <p class="about-box-p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur itaque eaque quod dolores laboriosam! Quis fuga eius commodi quasi architecto earum excepturi.</p>
                <p class="about-box-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui beatae obcaecati suscipit cumque.</p>
                <button class="about-btn">Explore Now</button>
            </div>
            <div class="about-box">
                <h4 class="about-h4">Medical Writting Course</h4>
                <p class="about-box-p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur itaque eaque quod dolores laboriosam! Quis fuga eius commodi quasi architecto earum excepturi.</p>
                <p class="about-box-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui beatae obcaecati suscipit cumque.</p>
                <button class="about-btn">Explore Now</button>
            </div>
            <div class="about-box">
                <h4 class="about-h4">Medical Writting Course</h4>
                <p class="about-box-p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur itaque eaque quod dolores laboriosam! Quis fuga eius commodi quasi architecto earum excepturi.</p>
                <p class="about-box-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui beatae obcaecati suscipit cumque.</p>
                <button class="about-btn">Explore Now</button>
            </div>
            <div class="about-box">
                <h4 class="about-h4">Medical Writting Course</h4>
                <p class="about-box-p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur itaque eaque quod dolores laboriosam! Quis fuga eius commodi quasi architecto earum excepturi.</p>
                <p class="about-box-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui beatae obcaecati suscipit cumque.</p>
                <button class="about-btn">Explore Now</button>
            </div>
            <div class="about-box">
                <h4 class="about-h4">Medical Writting Course</h4>
                <p class="about-box-p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur itaque eaque quod dolores laboriosam! Quis fuga eius commodi quasi architecto earum excepturi.</p>
                <p class="about-box-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui beatae obcaecati suscipit cumque.</p>
                <button class="about-btn">Explore Now</button>
            </div>
            <div class="about-box">
                <h4 class="about-h4">Medical Writting Course</h4>
                <p class="about-box-p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur itaque eaque quod dolores laboriosam! Quis fuga eius commodi quasi architecto earum excepturi.</p>
                <p class="about-box-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui beatae obcaecati suscipit cumque.</p>
                <button class="about-btn">Explore Now</button>
            </div>
            <div class="about-box">
                <h4 class="about-h4">Medical Writting Course</h4>
                <p class="about-box-p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur itaque eaque quod dolores laboriosam! Quis fuga eius commodi quasi architecto earum excepturi.</p>
                <p class="about-box-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui beatae obcaecati suscipit cumque.</p>
                <button class="about-btn">Explore Now</button>
            </div>
            
        </div>
   </div>
</section>

<section id="courses">
    <h4 class="courses-h">Learning Today For a Better Tomorrow</h4>
    <button class="courses-btn">View All Courses</button>
</section>

<section id="key">
    <div class="key-container">
        <h4 class="key-h4">Key Highlights</h4>
        <p class="key-p">A Choice that makes a big difference in your career.</p>
        <div class="key-div">
            <div class="key-box">
                <img src="../assist/cart1.png" alt="">
                <h4 class="key-h">Learn From Expert</h4>
            </div>
            <div class="key-box">
                <img src="../assist/cart2.png" alt="">
                <h4 class="key-h">Best and Affordable Price</h4>
            </div>
            <div class="key-box">
                <img src="../assist/cart3.png" alt="">
                <h4 class="key-h">Life Time Access</h4>
            </div>
            <div class="key-box">
                <img src="../assist/cart4.png" alt="">
                <h4 class="key-h">Curriculum</h4>
            </div>
            <div class="key-box">
                <img src="../assist/cart5.png" alt="">
                <h4 class="key-h">Placement assistance</h4>
            </div>
            
        </div>
    </div>
</section>

<section id="about">
    <div class="about-div">
         <h1 class="about-h1">Trending Blogs</h1>
         <div class="about-container">
            <div class="about-box">
                <h4 class="about-h4">Scope & Career Option In Clinic Research after BDS [2024]</h4>
                <p class="about-box-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique et aliquid quod distinctio, tempore dolores perspiciatis cupiditate inventore ipsam commodi eos. Velit debitis earum quidem placeat nisi, harum, optio nesciunt mollitia quibusdam qui beatae.</p>
                <button class="about-btn">Explore Now</button>
            </div>
            <div class="about-box">
                <h4 class="about-h4">Scope & Career Option In Clinic Research after BDS [2024]</h4>
                <p class="about-box-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique et aliquid quod distinctio, tempore dolores perspiciatis cupiditate inventore ipsam commodi eos. Velit debitis earum quidem placeat nisi, harum, optio nesciunt mollitia quibusdam qui beatae.</p>
                <button class="about-btn">Explore Now</button>
            </div>
            <div class="about-box">
                <h4 class="about-h4">Scope & Career Option In Clinic Research after BDS [2024]</h4>
                <p class="about-box-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique et aliquid quod distinctio, tempore dolores perspiciatis cupiditate inventore ipsam commodi eos. Velit debitis earum quidem placeat nisi, harum, optio nesciunt mollitia quibusdam qui beatae.</p>
                <button class="about-btn">Explore Now</button>
            </div>
            <div class="about-box">
                <h4 class="about-h4">Scope & Career Option In Clinic Research after BDS [2024]</h4>
                <p class="about-box-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique et aliquid quod distinctio, tempore dolores perspiciatis cupiditate inventore ipsam commodi eos. Velit debitis earum quidem placeat nisi, harum, optio nesciunt mollitia quibusdam qui beatae.</p>
                <button class="about-btn">Explore Now</button>
            </div>
            
         </div>
    </div>
 </section>

 <footer>
    <div class="footer-container">
        <div class="footer-box">
            <h4 class="footer-h">Address - Hinjawadi</h4>
            <p class="footer-p">TechnoBridge Systems Pvt Ltd 423, Suratwala Mark Plazzo, Wing B, Hinjawadi - Wakad Road, Hinjawadi Village, Hinjawadi, Pune, Maharashtra 411057.</p>
            <p class="footer-p">7879978978</p>
            <p class="footer-p">ahmad@gmail.com</p>
        </div>
        <div class="footer-box">
            <h4 class="footer-h">Address - Hinjawadi</h4>
            <p class="footer-p">TechnoBridge Systems Pvt Ltd 423, Suratwala Mark Plazzo, Wing B, Hinjawadi - Wakad Road, Hinjawadi Village, Hinjawadi, Pune, Maharashtra 411057.</p>
            <p class="footer-p">7879978978</p>
            <p class="footer-p">ahmad@gmail.com</p>
        </div>
        <div class="footer-box">
            <h4 class="footer-h">Address - Hinjawadi</h4>
            <p class="footer-p">TechnoBridge Systems Pvt Ltd 423, Suratwala Mark Plazzo, Wing B, Hinjawadi - Wakad Road, Hinjawadi Village, Hinjawadi, Pune, Maharashtra 411057.</p>
            <p class="footer-p">7879978978</p>
            <p class="footer-p">ahmad@gmail.com</p>
        </div>
        <div class="footer-box">
            <h4 class="footer-h">Address - Hinjawadi</h4>
            <p class="footer-p">TechnoBridge Systems Pvt Ltd 423, Suratwala Mark Plazzo, Wing B, Hinjawadi - Wakad Road, Hinjawadi Village, Hinjawadi, Pune, Maharashtra 411057.</p>
            <p class="footer-p">7879978978</p>
            <p class="footer-p">ahmad@gmail.com</p>
        </div>
        
    </div>
 </footer>
</body>
</html>